* {
  margin: 0;
  padding: 0;
}

.vertical-container .bfc {
  overflow: hidden;
}

.vertical-container p {
  margin: 5px auto 25px;
  background-color: red;
}

.horizontal-container {
    background-color: yellow;
}

.horizontal-container .left{
    float: left;
    width: 100px;
    height: 100px;
    background-color: #090;
}

.horizontal-container .right{
    height: 120px;
    background-color: #ccc;
    overflow: auto;
}

.float-container {
    overflow: auto;
    /* float: left */
    background-color: red;
}

.float-container .float {
    float: left;
    font-size: 30px;
}